.body {
    margin: 0;
    padding: 0;
}

.content {
    position: relative;
    z-index: 1;
}

.header {
    position: fixed;
    width: 100%;
    text-align: center;
    z-index: 2;

    color: rgb(0, 255, 255);
    mix-blend-mode: difference;
}

.brand {
    position: relative;
    margin-left: auto;
    margin-top: 9%;
    margin-bottom: 2%;

    font-size: x-large;
    letter-spacing: 0.4em;
}
.menu-category {
    position: relative;
    margin-left: auto;
    margin-top: 1%;
    margin-bottom: 1%;

    font-size: large;
    letter-spacing: 0.2em;
}
.social {
    display: inline-block;
    position: relative;
    margin-left: auto;
    margin-top: 24%;
    margin-bottom: 5%;
    padding: 0.1%;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
a {
    color: aliceblue;
}
a:hover {
    color: aliceblue;
    text-decoration: none;
}