.body {
    margin: 0;
    padding: 0;
}

.content {
    position: relative;
    width: 100vw;
    height: 100vh;
    z-index: 1;

    background-color: black;
}

.header {
    position: fixed;
    width: 100vw;
    text-align: center;
    z-index: 2;

    color: rgb(0, 255, 255);
    mix-blend-mode: difference;
}

.brand {
    position: relative;
    margin-left: auto;
    margin-top: 10vh;
    margin-bottom: 4vh;

    font-size: x-large;
    letter-spacing: 0.4em;
}
.menu-category {
    position: relative;
    margin-left: auto;
    margin-top: 1vh;
    margin-bottom: 1vh;

    font-size: large;
    letter-spacing: 0.2em;
}
.social {
    display: inline-block;
    position: relative;
    margin-left: auto;
    margin-top: 50vh;
    margin-bottom: 5vh;
    padding: 0.1%;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
a {
    color: aliceblue;
}
a:hover {
    color: aliceblue;
    text-decoration: none;
}