/* general body */
.body {
    margin: 0;
    padding: 0;
}

/* vr */
/*iframe.vr-content {*/
    /*position:absolute;*/
    /*top:0;*/
    /*left:0;*/
    /*right:0;*/
    /*bottom:0;*/

    /*width: 100%;*/
    /*height:100%;*/
    /*margin: 0;*/
    /*border: 0;*/
/*}*/

/* header & nav menu */
.container.head {
    position: absolute;
    left: 1%;
    width:98%;
}

.header {
    display: inline-block;
}

.header.logo {
    font-family: Helvetica;
    float: left;
}

.header.nav {
    float: right;
}

ul.navbar {
    /* fix the px settings */
    margin: 0px;
    padding: 0px;
}

ul.navbar li.nav-item{
    display: inline-block;
    margin: .1em;
}

.nav-link
{
    font-family: Helvetica;
    color: white;
}

/* non-vr content */

img.photo {
    width: 100%;
    height: 100%;
}